.content {
  margin: 92px auto;
}

.intro {
  max-width: 984px;
  margin: 0 auto;
}

.title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.quote {
  max-width: 738px;
  font-size: 24px;
}

.author {
  max-width: 732px;
  margin: 10px 6px 0 0;
  text-align: end;
}

.text {
  max-width: 722px;
  line-height: 26.08px;
  margin: 32px 0 0;
}

.grid-photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1184px;
  width: 100%;
  margin: 118px auto 92px;
  gap: 16px;
}

.grid-item {
  max-width: 284px;
  width: 100%;
}

.cities {
  max-width: 984.00048828125px;
  margin: 0 auto;
}

.city {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 48px;
}

.city-title {
  max-width: 460px;
  max-height: 228px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: auto 0 0;
}

.city-artist {
  max-height: 67px;
  margin: auto 0 0;
  line-height: 22px;
}

.city-artist::first-line {
  max-width: 85.17px;
  max-height: 15px;
  font-size: 12px;
  color: #aaaaaa;
  line-height: 3;
}

.city-image {
  box-shadow: 5px 5px 10px black;
  margin-right: 40px;
}

.city-image:hover {
  opacity: 50%;
}

.text-paragraph {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.city-text {
  font-size: 18px;
  line-height: 26.08px;
  margin-top: 0;
}

.city-text:last-child {
  margin-bottom: 0;
}

.city-button {
  max-width: 356.08px;
  height: 48px;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 10px black;
  font-size: 18px;
  font-weight: 600;
  margin: 0 103.92px 80px 0;
}

.city-button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 984px;
    margin: 90px 24px 88px;
  }

  .title {
    font-size: 45px;
    line-height: 49px;
  }

  .quote {
    line-height: 34px;
  }

  .text {
    max-width: 720px;
  }

  .grid-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1184px;
    width: 100%;
    margin: 118px auto 92px;
    gap: 16px;
  }

  .grid-item {
    max-width: 352px;
    width: 100%;
  }

  .city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 48px;
  }

  .city-title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  .city-image {
    max-width: 340px;
  }

  .city-text {
    font-size: 16px;
    line-height: 17.08px;
    margin-top: 0;
    max-height: 208px;
  }

  .city-text:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .content {
    max-width: 288px;
    margin: 64px auto;
  }

  .title {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 40px;
  }

  .quote {
    width: 100%;
    line-height: 30px;
    margin: 0 0 10px;
    height: 180px;
  }

  .author {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }

  .text {
    width: 100%;
  }
}
