.content {
  max-width: 984px;
  margin: 92px auto;
}

.content__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.content__quote {
  max-width: 738px;
  font-size: 24px;
}

.content__author {
  max-width: 732px;
  margin: 10px 6px 0 0;
  text-align: end;
}

.content__text {
  max-width: 722px;
  line-height: 26.08px;
  margin: 32px 0 0;
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 984px;
    margin: 90px 24px 88px;
  }

  .content__title {
    font-size: 45px;
    line-height: 49px;
  }

  .content__quote {
    line-height: 34px;
  }

  .content__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    max-width: 288px;
    margin: 64px auto;
  }

  .content__title {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 40px;
  }

  .content__quote {
    width: 100%;
    line-height: 30px;
    margin: 0 0 10px;
    height: 180px;
  }

  .content__author {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }

  .content__text {
    width: 100%;
  }
}
