.header {
  width: 100%;
}

.header__logo-image {
  max-width: 254px;
  height: 70px;
  display: flex;
  margin: 0 auto;
}

.header-content {
  width: 984px;
  margin: 90px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content__title {
  width: 720px;
  font-size: 96px;
  font-weight: 900;
  margin: 0 auto 32px;
}

.header-content__subtitle {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 64px;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header__logo-image {
    height: 66px;
  }

  .header-content__title-group {
    width: 100%;
    margin: 90px auto 30px;
  }

  .header-content {
    width: 100%;
  }

  .header-content__subtitle {
    margin: 0 auto;
  }

  .header-content__image {
    max-width: 100%;
  }
}
